.new__input {
  height: 54px;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  font-size: 20px;
  padding: 8px 24px;
  width: inherit;
  width: 54px;
  border-radius: 50px;
  transition: width .2s ease, border-radius .2s ease;
}

.new__input_active {
  width: 100%;
  border-radius: 16px;
}

.new__input::-moz-placeholder {
  color: var(--gray);
  font-size: 20px;
}

.new__input::-webkit-input-placeholder {
  color: var(--gray);
  font-size: 20px;
}

.new__input:-ms-input-placeholder {
  color: var(--gray);
  font-size: 20px;
}
