.todo__check-button {
  min-width: 36px;
  min-height: 36px;
  border: 2px solid var(--accent);
  background-color: transparent;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s linear; 
}

.todo__check-button_checked {
  position: relative;
  border: 2px solid var(--dark-accent);
  background-image: url(../../../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}


