.todo__delete-button-wrap {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 16px;
  background-color: var(--red);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
}

.todo__delete-button-wrap_hide {
  animation-timing-function: cubic-bezier(.56,.31,.53,.82);
  border-radius: 2px;
  top: 1px;
}