.todo__new-item {
  padding: 20px 88px 20px 16px;
  border-radius: 16px;
  border-color: transparent;
  background-color: var(--dark-blue);
  color: var(--white);
  width: 100%;
  min-height: 68px;
  position: relative;
  font-size: 20px;
}

.todo__new-item::-moz-placeholder {
  color: var(--dark-accent);
  font-size: 20px;
}

.todo__new-item::-webkit-input-placeholder {
  color: var(--dark-accent);
  font-size: 20px;
}

.todo__new-item:-ms-input-placeholder {
  color: var(--dark-accent);
  /* color: #E7EAEF; */
  font-size: 20px;
}
