@keyframes newItem {
  0% {
    box-shadow: 0px 0px 8px rgba(6, 106, 254, .5);
  }

  100% {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);

  }
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
  margin: 8px auto 0px;
  animation: newItem .3s ease-in;

}

.todo__item_active {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.todo__item_hide {
  animation-timing-function: cubic-bezier(.56, .31, .53, .82);
  padding: 0;
  margin: 0;
  border-radius: 2px;
}