@import url(./__user/header__user.css);

.header {
  padding: 16px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 62px;

  /* backdrop-filter: blur(1px);
 -webkit-backdrop-filter: blur(1px); */
}