.todo__user {
  color: #fefefe;
  background-color: #066AFE;
  border-radius: 50px;
  min-width: 24px;
  min-height: 24px;
  padding: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}