.todo__delete {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  position: relative;
  background-image: url(../../../images/remove.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 42px;
  min-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

}
