.root {
  background-color: #041121;
  color: #F7F5FC;
  font-weight: 500;
  margin: 0 auto;
  padding: 0 16px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 800px;
  overflow: hidden;
}

.root_not-empty {
  overflow: scroll;
}