.todo__more {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  position: relative;
  background-image: url(../../../images/more.svg);
  background-repeat: no-repeat;
  /* background-position: right; */
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  background-color: var(--white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0;

}
