@import url(./__input/new__input.css);
@import url(./__button/new__button.css);

.new {
  margin: 40px auto 30px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 16px;

  margin: calc(50vh - 27px) auto 30px;
  transition: margin 0.2s ease-out;
}

.new_not-empty {
  margin: 92px auto 30px;
}